nvim/plugged/
*.aux 
*.fls 
*.fdb_latexmk 
*.log 
*.synctex.gz
nvim/plugged/*
fish/fish_variables
fish_variables
sonokai
fish/fishd.tmp*
rclone/*

qutebrowser/autoconfig.yml
nvim/plugin

nvim/.luarc.json
nvim/TODO.yaml
qutebrowser/bookmarks
qutebrowser/qsettings/QtProject.conf
projects.yaml
