snippet m/d/y "defualt Today's date" i
`date "+%m/%d/%Y"`
endsnippet

snippet date-time "Today's date and Current Time"
`date "+%a %b %d %Y"`
endsnippet

snippet current-time "current time"
`date "+%H:%M:%S"`
endsnippet
