snippet "bt"
\`$1\`
endsnippet

snippet url
[$1]($2)
endsnippet

snippet curl
[$1]($2)
endsnippet

snippet '- []' "github checkbox" bA
- [ ] $1
endsnippet

snippet -] "github checkbox" A
- [ ] $1
endsnippet

snippet vbt "visual backticks"
\`${1:${VISUAL}}\`
endsnippet

snippet vbtt "visual many backticks"
\`\`\`$1
${2:${VISUAL}}
\`\`\`
endsnippet
