snippet "- []" "github checkbox" bA
- [ ] $1
endsnippet

snippet "-]" "github checkbox" 
- [ ] $1
endsnippet

# snippet "(#*)" "make thing a header" r
# `!p snip.rv = match.group(1)` ${VISUAL}
# endsnippet
