snippet "(log\..+)" "Easel log" br
self.app.`!p snip.rv = match.group(1)`("$1")
endsnippet

snippet from "from module import name" b
from ${1:module} import ${2:Stuff}
endsnippet

snippet try "Try / Except" b
try:
	${1:${VISUAL:pass}}
except ${2:Exception} as ${3:e}:
	${4:raise $3}
endsnippet

snippet df "dataclass field"
$1: $2 ${3:= ${4}}
endsnippet
