# snippet date-time "defualt Today's date and Current Time"
# `date "+%b %d %Y %a (%H:%M:%S)"`
# endsnippet

snippet m/d/y "defualt Today's date and Current Time"
`date "+%m/%d/%Y"`
endsnippet

snippet snip "meta snippet"
snippet $1 "$2" $3
$4
${5:endsnippet}
endsnippet
